<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<div class="center">
  <div class="connexion">
    <form>

      <h2>Connexion</h2>
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="email">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password">
      <button type="button" class="btn btn-info" (click)="login()">Se connecter</button> <br/>

      <div class="centerInscription">
      <a href="/register"  class="inscription1">Besoin d'un compte ? <span class="inscription2">S'inscrire</span></a>
      </div>
        <!--<a href="/forgot-password" class="text-dark" style="text-decoration: none;"> Forgot Password ? </a>-->
    </form>
  </div>
  <div class="textBienvenue">
    <h1>Boostez la participation en classe <br>avec miahoot !
    </h1> <br>
    <p class="description">Créez, modifiez et supprimez des quiz pour vos étudiants afin de rendre l'apprentissage en classe plus ludique et interactif.</p>

  </div>
</div>
<footer class="footer">
  <a href=""> <img src="https://cdn.icon-icons.com/icons2/1147/PNG/512/1486486321-arrow-back-player-music-multimedia-left-rewind_81210.png" height="70px" width="70px"> </a>
</footer>
<!--
<div class="row mt-2">
<a (click)="loginG()" style="text-decoration: none;cursor: pointer;">
<div class="card shadow text-center">
    <div class="card-body">
        <img src="../../../assets/icons8-google-48.png" alt="" height="24px" width="24px"> Sign In with Google
    </div>
</div>
</a>
</div>
-->

