<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
</head>
<mat-toolbar class="toolbar">

  <!-- --------------------------------------------------------------- -->
  <!-- when you click on the logo, go back to index -->



  <!-- boutton de menu pour parametres et autres
  <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #Menu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </ng-template>
  </mat-menu>
  -->

  <a href=""><span class="miahoot">M!AHOOT</span></a>
  <!-- espacement -->
  <span class="spacer"></span>
  <ng-container *ngIf = "authS.currentUser| async as USER">
    <button mat-button (click)="logoutS()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>


</mat-toolbar>

<router-outlet></router-outlet>
