<mat-toolbar>

  <!-- --------------------------------------------------------------- -->
  <!-- when you click on the logo, go back to index -->


  <img class="logoMiahoot" src="https://seeklogo.com/images/M/m-design-logo-09A5D82F03-seeklogo.com.png">
  <!-- boutton de menu pour parametres et autres
  <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #Menu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </ng-template>
  </mat-menu>
  -->
  <span>{{title}}</span>
  <!-- espacement -->
  <span class="spacer"></span>
  <ng-container *ngIf = "authS.currentUser| async as USER">
    <button mat-button (click)="logoutS()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>


</mat-toolbar>

<router-outlet></router-outlet>
