<!-- ici on s'occupe de la partie présentateur
(affiche la questions et les choix de reponses)
 il faut utiliser un ngIf pour que seul
 le role presentateur voit cet affichage
 il faut les elements suivant :
 - la question
 - les reponses
 - un element de completion type image, video, son ...
 - un timer ou un bouton pour passer à la question suivante -->

<div class="twelve">
  <h1>{{miahootPartie.nom}}</h1>
</div>
<br/>
<br/>
<div *ngIf="! commencePartie">
  <button (click)="partieEnCours()"
          [ngModel]="commencePartie"
          mat-raised-button> commencer la partie
  </button>
</div>




<div *ngIf="commencePartie">
  <div *ngIf="estPresentateur">

    <div *ngIf="question_courante | async as Q;">
      <div class="myDiv">
        <h2  >{{  miahootPartie.questions[indexRecup].label }}</h2>
      </div>
      <div  class="reponses" id="repprof">
        <div *ngFor="let reponse of Q.reponses; index as i" class="test" > <br/>
          <div class="box" id="box-{{i+1}}"><p>{{ reponse.label }}</p></div>
          <br/>
          <div [ngClass]="{ valid :reponse.estValide}">
            <div *ngIf="showCorrectAnswer && reponse.estValide ">   </div>
            <dialog id="popup">
              <h2>La bonne réponse est : {{ reponse.label }} </h2>
            </dialog>
          </div>
        </div>
      </div>

      <!-- <button mat-raised-button (click)="showCorrectAnswer = !showCorrectAnswer">Bonne réponse</button> -->
      <button mat-raised-button onclick="document.getElementById('popup').show()">Bonne réponse</button>

      <button (click)="questionSuivante()" mat-raised-button>Question suivante</button>
    </div>
  </div>


  <!-- ici on fait la vue du participant
(avec des boutons correspondants aux reponses possibles)
il faut les elements suivants :
- les reponses
- un bouton de comfirmation
-->
  <div *ngIf="!estPresentateur" >
    <!--ici la liste de boutons choix -->
    <div *ngIf="miahootPartie.questions[currentIndex] ">
      <div class="myDiv">
        <h3> VUE PARTICIPANT</h3>
        <h2 >{{ miahootPartie.questions[currentIndex].label }}</h2>
      </div>
      <br/>


      <div  class="reponses" id="lesReponses">
        <div *ngFor="let reponse of miahootPartie.questions[currentIndex].reponses" class="test">
          <button (click)="onButtonClick(reponse)" [ngClass]="{'selected': selectedReponse === reponse }" class="box" id="{{reponse.id}}" mat-raised-button>{{ reponse.label }}</button>
        </div>
      </div>
      <button (click)="confirmerChoix()" hidden="true" id="buttonConfirm" mat-raised-button> Confirmer mes choix </button>
    </div>
  </div>
</div>




