<p>presentateur works!</p>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
<!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<!-- header -->
   <header>

<!-- title & content -->
      <section class="header-content">
         <h1>Welcome</h1>
        <p> choose which one you want to present ? <br>
            </p>
            <button>Presentation 1</button>
            <button>Presentation 2</button>
          </section>
      </header>
  </div>
