body{
}
.test{

}
.center{
  margin: auto;
  width: 85%;
  padding: 10px;
  margin-top: 6%;
  text-align: center;
}
h1{
  font-family: 'Bree Serif', serif;
  font-weight: bolder;
  font-size: 47px;
  color : #0496ff;
}
h3{
  color: #343a40;

  font-weight: lighter;
}
.box{
  display: flex;
}
input{
  width: 98%;
  margin: 1%;
  height: 60px;
  border: 1px solid #e9ecef;
  border-radius: 50px;
  text-align: center;
}
input:focus {
  outline: none !important;
  border:1px  solid #0496ff;
}
button{
  padding: 25px 45px 25px 45px;
  margin: 3%;
  border-radius: 50px;
  background-color: #fdc860;
  color: white;
  border-style: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: .6s;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
}

button:hover{
  transform:scale(1.05);
}
::placeholder{
  color : #6c757d;
}

.selected{
  border: 2px solid darkred ;
}
