<p>presentateur works!</p>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
<!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<!-- header -->
   <header>

<!-- title & content -->
      <section class="header-content">
         <h1>Welcome</h1>
        <p> choose which one you want to present ? <br>
            </p>
        <div *ngIf="liste_miahoots | async as M"

        >

          <div id="listemiahoot" *ngFor="let miahoot of M; index as indice ">

            <button (click)="onButtonClick(miahoot)"  id="{{miahoot.id}}" [ngClass]="{'selected': selectedMiahoot === miahoot }">{{miahoot.nom}}</button>
          </div>



        </div>
        <div class="box">
          <label for="nompartie"><input type="text" id="nompartie" placeholder="nom de la partie : L3 Miage Quizz"></label>
          <label for="codePartie"> <input type="text" name="codePartie" id="codePartie" placeholder="exemple: 3546"></label>
          <button (click)="createGame()">create game</button>
        </div>

      </section>

<!--
     <div *ngIf="question_courante | async as Q;">
       <h2>{{ Q.label }}</h2>
       <div *ngFor="let reponse of Q.reponses">
         <p>{{ reponse.label }}</p>
       </div>
       <button (click)="questionSuivante()">Question suivante</button>
     </div>
-->
   </header>
  </div>


