<!DOCTYPE html>
<html>
<head>
  <title>Graphique à barres</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>





<p>resultat works!</p>



<p>code partie selon le param du lien : {{codePartie}}</p>


<div *ngIf="liste_reponses | async as lr">
  <div *ngFor="let m of miahootPartie.questions ; index as indeeex">
    <div *ngFor="let l of lr"  >
      <ng-template [ngIf]="indeeex == l.index"><div>
        a la question {{l.idQuestion}}, {{l.nbVotes}} personnes ont répondu {{l.labelReponse}}
      </div></ng-template>

    </div>

      <button (click)="onButtonClick(indeeex) " >Afficher resultats question {{indeeex}}</button>
      <canvas height="100" hidden="true" id="acquisitions{{indeeex}}" ></canvas>

  </div>


</div>
o
</body>

</html>
