

<!-- animation -->
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<!-- ce composant sert juste à passer de page en page -->
<div class="card-container">
  <div>
    <mat-card class="leftCard">
      <mat-card-header>
        <mat-card-title> Enseignant </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="imageCard" src="https://img.freepik.com/free-vector/student-guy-studying-internet-watching-online-lecture-computer-talking-math-tutor-through-video-call-cartoon-illustration_74855-14524.jpg?w=740&t=st=1682541499~exp=1682542099~hmac=a8ce9576ab5aef6eff8c6ea7931d678fc501aa93e9a4df68a03d65a420d48dcd" alt="Image enseignant"/>
      <mat-card-content>
        <p>
          En cliquant sur le boutton ci-dessous
          vous pourrez vous connecter
          en tant qu'enseignant suite à
          une connexion via un login.
        </p>
        <a href="/login"><button class="EnsButton"  mat-raised-button>Se connecter en tant qu'enseignant</button>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="rightCard">
      <mat-card-header>
        <mat-card-title> Participant </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="imageCard" src="https://img.freepik.com/free-vector/learning-concept-illustration_114360-3896.jpg?w=360&t=st=1682541412~exp=1682542012~hmac=73a1f4ae316fe61ee9a8a75d8754e2fbd585fdcf604e5047ca513a45ce6d0839" alt="Image etudiant"/>
      <mat-card-content>
        <p>
          En cliquant sur le boutton ci-dessous
          vous pourrez participer à une partie
          en entrant le code correspondant à celle-ci.
        </p>
        <a href="/participant" >
          <button class="partButton" mat-raised-button>Participer à une partie</button>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>

