

<!-- animation -->
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<!-- ce composant sert juste à passer de page en page -->
<div class="card-container">
  <div>
    <mat-card class="leftCard">
      <mat-card-header>
       <div class="titreEnseignant">
         <h1> Enseignant </h1>
       </div>
      </mat-card-header>
      <img mat-card-image class="imageCardEnseignant" src="https://img.freepik.com/vecteurs-libre/personnes-qui-utilisent-ordinateurs-etudient-ecole-ligne_1262-20670.jpg?w=900&t=st=1683706845~exp=1683707445~hmac=65c68b418c9f203cb6947febb336f9c8249bb02d6c29e838e9b2faa6df2eb44e" alt="Image enseignant"/>
      <mat-card-content>
        <p>
          En cliquant sur le boutton ci-dessous
          vous pourrez vous connecter
          en tant qu'enseignant suite à
          une connexion via un login.
        </p>
        <a href="/login">
          <button class="enseignantBtn" >Se connecter en tant qu'enseignant</button>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="rightCard">
      <mat-card-header>
        <div class="titreParticipant">
          <h1> Participant </h1>
        </div>
      </mat-card-header>
      <img mat-card-image class="imageCardParticipant" src="https://img.freepik.com/vecteurs-libre/etudiants-diplomes-plats-manteau-casquette-tenant-rouleau-papier-diplome-universitaire-heureux-jeunes-robe-academique-baccalaureat-celebrant-obtention-du-diplome-universite_88138-929.jpg?w=826&t=st=1683707150~exp=1683707750~hmac=b5db832ad4f70b8a5fcc66b0dd70988308636513078673062e7ac2085418f837" alt="Image etudiant"/>
      <mat-card-content>
        <p>
          En cliquant sur le boutton ci-dessous
          vous pourrez participer à une partie
          en entrant le code correspondant à celle-ci.
        </p>

        <a href="/participant" >
          <button class="participantBtn" >Participer à une partie</button>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>

