<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
<!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<!-- header -->
   <header>

    <!-- title & content -->
    <section class="header-content">
      <h1>Welcome</h1>
      <p> which operation you want to make ? <br></p>
      <!-- il faudra faire un ngFor pour chaque miahoot existant pour l'enseignant connecté
       et il faudra recuperer le nom des miahoot pour les afficher à la place de miahoot name-->

      <div *ngIf="miahoots ">
        <!-- maj sur gestion id : v0 on utilise un index
         ce qui est vrm pas pratique si on supprimeplusieur miahoots car l'id sera desynchro
         but de la maj : on va récuperer l'id en sélectionant le miahoot
         tq on aura un attribut idMiahootCourant qui se mettra à jour en fonction
         du miahoot selectionné ! -->
       <p hidden="true"> {{miahoots[0].nom}}</p>
        <div *ngFor="let miahoot of miahoots; index as i ">

          <button [matMenuTriggerFor]="menu" id="Miahoot-{{i+1}}" mat-button>{{miahoot.nom}}</button>
          <mat-menu #menu="matMenu">
            <button (click)="supprimeMiahoot(i)" mat-menu-item> Supprimer </button>
            <button (click)="selectMiahoot(i)" mat-menu-item> Modifier </button>
          </mat-menu>
        </div>
      </div>

      <a href="/creation"><button id="addMiahoot" mat-raised-button > + </button></a>
    </section>
  </header>
</div>

<!--
<div id="inputmiahoot">
  <form action="">
    <input type="jsoninput" id="miahoot" #miahoot style="width: 300px; height: 300px;" />
    <button type="submit" (click)="postMiahoot(uid, miahoot.value)">Submit</button>
  </form>

</div>


<button mat-menu-item (click)="supprimeMiahoot(1)"> Supprimer </button>

<input type="file" id="input">

-->
