<p>concepteur works!</p>

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
<!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<!-- header -->
   <header>

    <!-- title & content -->
    <section class="header-content">
      <h1>Welcome</h1>
      <p> which operation you want to make ? <br></p>
      <!-- il faudra faire un ngFor pour chaque miahoot existant pour l'enseignant connecté
       et il faudra recuperer le nom des miahoot pour les afficher à la place de miahoot name-->
      <button mat-button [matMenuTriggerFor]="menu"  id="Miahoot-1">Miahoot name</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="supprimeMiahoot(1)"> Supprimer </button>
        <button mat-menu-item> Modifier </button>
      </mat-menu>
      <a href="/creation"><button mat-raised-button id="addMiahoot" > + </button></a>
    </section>
  </header>
</div>

<div id="inputmiahoot">
  <form action="">
    <input type="jsoninput" id="miahoot" #miahoot style="width: 300px; height: 300px;" />
    <button type="submit" (click)="postMiahoot(1, miahoot.value)">Submit</button>
  </form>

</div>


<button mat-menu-item (click)="supprimeMiahoot(1)"> Supprimer </button>

<input type="file" id="input">

