<!doctype html>
<html lang="en">
<head>
  <link rel="participant.component.scss" href="style.css">
</head>
<body>
  <div class="center">
    <button  class="anonyme"*ngIf="! islogged" (click)="signInAnonymously()">  Connexion anonyme</button>

  </div>

  <div *ngIf="islogged" class="entrerCodePartie" >
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <!--renseignement du code de la partie et du pseudo-->
      <div class="inline">
        <input type="text" name="codePartie" formControlName="codePartie" placeholder="Entrez le code de la partie">
      </div><br>
      <div class="inline">
        <input type="text" name="pseudoParticipant" formControlName="pseudoParticipant" placeholder="Entrez votre pseudo">
      </div><br>

      <a href="./presentation"><button type="submit" class="submit">Commencer la partie ! </button></a>
    </form>

    <p class ="messageSubmit" >
      {{ message }}
    </p>


  </div>

</body>
</html>
