<!doctype html>
<html lang="en">
<head>
  <link href="style.css" rel="participant.component.scss">
</head>
<body>

<div class="center">
  <button class="anonyme" (click)="signInAnonymously()" *ngIf="! islogged"> Connexion anonyme</button>
</div>

<div *ngIf="islogged" class="entrerCodePartie" >
<form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
  <!--renseignement du code de la partie et du pseudo-->
  <div class="inline">
    <input formControlName="codePartie" name="codePartie" placeholder="Entrez le code de la partie" type="text">
   
  </div><br>
  <div class="inline">
    <input formControlName="pseudoParticipant" id="pseudoParticipant" name="pseudoParticipant" placeholder="Entrez votre pseudo" type="text">
  </div><br>

  <button class="submit" type="submit">Commencer la partie ! </button>
</form>

<p class="messageErreur">{{messageErreur}}</p>

<p class ="messageSubmit" >
  {{ message }}
</p>


</div>

</body>
</html>
