
body {
  background: linear-gradient(#141e30, #243b55);
}
input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

h1{
  font-size: 35px;
}
.entrerCodePartie{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.accesMiahoot{
  display: flex;
  text-align: right;
  margin: auto;
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.submit{
  height: 55px;
  width: 100%;
  margin-top : 1%;
  border-radius: 5px;
  border-style: none;
}
.submit:hover{
    background-color: #ffc300ff;
  box-shadow: 0px 15px 20px rgba(255, 195, 0, 0.4);

  color: #fff;
    transform: translateY(-7px);

}
.messageSubmit{
  color : orange;
  margin-top:5%;
  text-align: center;
}

