
<head>
  <link href="style.css" rel="enseignant.component.scss">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
<div class="center">
    <h1>Vous êtes ? </h1>
    <section>
        <div class="choix">
         <a href="/concepteur"><button class="colorC">CONCEPTEUR</button></a>
         <a href="/presentateur"><button class="colorP">PRESENTATEUR</button></a>
        </div>
    </section>
  </div>
<footer class="footer">
  <a href="/login"> <img src="https://cdn.icon-icons.com/icons2/1147/PNG/512/1486486321-arrow-back-player-music-multimedia-left-rewind_81210.png" height="70px" width="70px"> </a>
</footer>
</body>


