<p>enseignant works!</p>

<div class="context">
    <h1>Votre Choix</h1>
    <section>
        <div class="example-button-row">
         <a href="/concepteur"><button mat-raised-button width="1000">CONCEPTEUR</button></a>

         <a href="/presentateur"><button mat-raised-button color="warn">PRESENTATEUR</button></a>
        </div>
    </section>







</div>



<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >


